#!/usr/bin/make -f

%:
	dh $@ --parallel

override_dh_install:
	$(MAKE) debian-files
	$(MAKE) install-alarmd       ROOT=debian/alarmd
	mkdir -p $(CURDIR)/debian/alarmd/etc/conf.d
	cp -f debian/alarmd.confd debian/alarmd/etc/conf.d/alarmd
	$(MAKE) install-libalarm     ROOT=debian/libalarm2
	$(MAKE) install-libalarm-dev ROOT=debian/libalarm-dev
	$(MAKE) install-libalarm-doc ROOT=debian/libalarm-doc
	$(MAKE) install-alarmclient  ROOT=debian/alarmclient
